In [11]:
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection  import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics

In [14]:
train = pd.read_excel(r'E:\Capstone DS\Propensify\train.xlsx')

train.dtypes

custAge           float64
profession         object
marital            object
schooling          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
campaign          float64
pdays             float64
previous          float64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
pmonths           float64
pastEmail         float64
responded          object
profit            float64
id                float64
dtype: object

In [15]:
print(train.describe())

print(train.info())

           custAge     campaign        pdays     previous  emp.var.rate  \
count  6224.000000  8238.000000  8238.000000  8238.000000   8238.000000
mean     39.953728     2.531682   960.916606     0.183054      0.056397
std      10.540516     2.709773   190.695054     0.514209      1.566550
min      18.000000     1.000000     0.000000     0.000000     -3.400000
25%      32.000000     1.000000   999.000000     0.000000     -1.800000
50%      38.000000     2.000000   999.000000     0.000000      1.100000
75%      47.000000     3.000000   999.000000     0.000000      1.400000
max      94.000000    40.000000   999.000000     6.000000      1.400000

       cons.price.idx  cons.conf.idx    euribor3m  nr.employed      pmonths  \
count     8238.000000    8238.000000  8238.000000  8238.000000  8238.000000
mean        93.570977     -40.577907     3.586929  5165.575965   960.687436
std          0.578782       4.650101     1.742784    72.727423   191.841012
min         92.201000     -50.800000     0.634000  4963.600000     0.000000
25%         93.075000     -42.700000     1.334000  5099.100000   999.000000
50%         93.444000     -41.800000     4.857000  5191.000000   999.000000
75%         93.994000     -36.400000     4.961000  5228.100000   999.000000
max         94.767000     -26.900000     5.045000  5228.100000   999.000000

         pastEmail        profit           id
count  8238.000000    930.000000  8238.000000
mean      0.365501     77.709677  4119.500000
std       1.294101   2881.768500  2378.250092
min       0.000000 -87622.112070     1.000000
25%       0.000000    124.000000  2060.250000
50%       0.000000    170.000000  4119.500000
75%       0.000000    213.000000  6178.750000
max      25.000000    515.000000  8238.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8240 entries, 0 to 8239
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   custAge         6224 non-null   float64
 1   profession      8238 non-null   object
 2   marital         8238 non-null   object
 3   schooling       5832 non-null   object
 4   default         8238 non-null   object
 5   housing         8238 non-null   object
 6   loan            8238 non-null   object
 7   contact         8238 non-null   object
 8   month           8238 non-null   object
 9   day_of_week     7451 non-null   object
 10  campaign        8238 non-null   float64
 11  pdays           8238 non-null   float64
 12  previous        8238 non-null   float64
 13  poutcome        8238 non-null   object
 14  emp.var.rate    8238 non-null   float64
 15  cons.price.idx  8238 non-null   float64
 16  cons.conf.idx   8238 non-null   float64
 17  euribor3m       8238 non-null   float64
 18  nr.employed     8238 non-null   float64
 19  pmonths         8238 non-null   float64
 20  pastEmail       8238 non-null   float64
 21  responded       8238 non-null   object
 22  profit          930 non-null    float64
 23  id              8238 non-null   float64
dtypes: float64(13), object(11)
memory usage: 1.5+ MB
None

In [16]:
train.head()

,custAge,profession,marital,schooling,default,housing,loan,contact,month,day_of_week,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,pmonths,pastEmail,responded,profit,id
0,34.0,admin.,single,university.degree,no,no,yes,cellular,apr,wed,...,-1.8,93.075,-47.1,1.498,5099.1,999.0,0.0,no,NaN,1.0
1,31.0,services,single,high.school,no,no,no,cellular,jul,thu,...,1.4,93.918,-42.7,4.968,5228.1,999.0,0.0,no,NaN,2.0
2,NaN,admin.,single,high.school,no,no,no,telephone,jun,NaN,...,1.4,94.465,-41.8,4.961,5228.1,999.0,0.0,no,NaN,3.0
3,52.0,admin.,divorced,university.degree,unknown,yes,no,cellular,jul,tue,...,1.4,93.918,-42.7,4.962,5228.1,999.0,0.0,no,NaN,4.0
4,39.0,blue-collar,single,NaN,unknown,yes,no,cellular,jul,tue,...,1.4,93.918,-42.7,4.961,5228.1,999.0,0.0,no,NaN,5.0

In [17]:
import seaborn as sns
corr = train.corr()
plt.figure(figsize=(16, 14))
sns.heatmap(corr, vmax=0.5, center=0,
            square=True, linewidths=2, cmap='Blues')
plt.savefig("heatmap.png")
plt.show()

ValueError: could not convert string to float: 'admin.'

In [18]:
train.corr()['ordered']

ValueError: could not convert string to float: 'admin.'

In [19]:
predictors = train.drop(['ordered','UserID','device_mobile'], axis=1)
targets = train.ordered

KeyError: "['ordered', 'UserID', 'device_mobile'] not found in axis"

In [ ]:
print(predictors.columns)

In [ ]:
X_train, X_test, y_train, y_test  =   train_test_split(predictors, targets, test_size=.3)

print( "Predictor - Training : ", X_train.shape, "Predictor - Testing : ", X_test.shape )

In [ ]:
from sklearn.naive_bayes import GaussianNB

classifier=GaussianNB()
classifier=classifier.fit(X_train,y_train)

predictions=classifier.predict(X_test)

sklearn.metrics.confusion_matrix(y_test,predictions)

In [ ]:
sklearn.metrics.accuracy_score(y_test, predictions)

In [ ]:
yesterday_prospects = pd.read_excel('E:\Capstone DS\Propensify\test.xlsx')

In [ ]:
print(yesterday_prospects.info())

In [ ]:
userids = yesterday_prospects.UserID

yesterday_prospects = yesterday_prospects.drop(['ordered','UserID','device_mobile'], axis=1)

print(yesterday_prospects.head(10))

In [ ]:
yesterday_prospects.shape

In [ ]:
yesterday_prospects['propensity'] = classifier.predict_proba(yesterday_prospects)[:,1]

print(yesterday_prospects.head())

In [ ]:
pd.DataFrame(userids)
results = pd.concat([userids, yesterday_prospects], axis=1)

In [ ]:
print(results.head(30))

In [ ]:
results.to_csv('results.csv')